@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <h1>Crecion de la Primera Rama Principal (Master)</h1>
                <h1>Prueba para la expo</h1>
    </header>

    <script src="script.js"></script>
</body>
</html>
